/* Tag and Class Styles! */

/* * {
	border: 1px dashed red;
	min-height: 10px;
} */

body {
	background-image: linear-gradient(to right, blue, red);
    margin: 0;
}

input {
	border: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	width: 80%;
}

input::placeholder {
	color: #999999;
	opacity: 1;
}

button:hover {
	cursor: pointer;
}

.regLabel{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: .9em;
	color:#4b4b4b;
}

.inputBox{
	display: flex;
	padding: 0% 3%;
	border-bottom: 1.5px solid gray;
}

.grayIcon{
	color: gray;
	margin-right: 2%;
}

.brandButton{
	border-radius: 50%;
	border-color: white;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 8px;
}

.regButton{
	background: none;
	border: none;
	font-size: 1.1em;
	color: #000000;
	font-weight: 580;
}


.regButton:hover {
	color: blue;
	font-weight: 650;
	text-decoration: underline;
}
